:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  .dashboard-container {
    grid-column: 1/4;
    grid-row: 1/3;

    .day-element {
        padding: 8px;
        margin: 8px;
        border: 1px solid gray;
        cursor: pointer;
        overflow: auto;
    }
  }
}
